* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Helvetica;
  font-size: 16px;
  line-height: 24px;
  color: #333;
}
.ancho {
  width: 1200px;
  margin: auto;
  border: 1px red solid;
}
.margen {
  padding: 15px;
}
.centrar {
  text-align: center;
}

.contenedor_cabecera {
  background-color: #3d70f4;
  padding: 7px;
  width: 1200px;
  text-align: center;
  margin: auto;
  border-top: 10px solid #ff6000;
}
.contenedor_logo {
  border: 2px solid orange;
  width: 540px;
  display: inline-block;
  vertical-align: middle;
  text-align: left;
}
.contenedor_logo img {
  width: 200px;
}
.contenedor_menu {
  border: 3px red solid;
  padding: 10px;
  width: 580px;
  display: inline-block;
  vertical-align: middle;
  text-align: right;
}
.contenedor_menu a {
  text-decoration: none;
  padding: 10px 15px;
  display: inline-block;
  vertical-align: middle;
  color: white;
  font-size: 16px;
  margin-right: 10px;
}

.contenedor_menu a:hover {
  font-weight: bold;
  color: white;
}
.contenedor_menu a:last-child {
  margin-right: 0px;
}

.btn_1 {
  background-color: #ff6000;
  color: white;
  display: inline-block;
  text-decoration: none;
}

.contenedor_imagen {
  background-image: url("images/slide_foto.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 1200px;
  margin: auto;
  height: 450px;
  text-align: left;
}
.tituloprincipal {
  padding-top: 50px;
  font-size: 40px;
  color: white;
  margin-left: 45px;
  line-height: 1;
}
.parrafo {
  color: white;
  margin-left: 45px;
  font-size: 16px;
}
.span1 {
  color: #3d70f4;
}
.btn-naranja {
  background-color: #ff6000;
  border-radius: 4px;
  color: white;
  padding: 10px 24px;
  margin-right: 5px;
  text-decoration: none;
  display: inline-block;
}
.btn-izq {
  margin-left: 45px;
}
.contenedor_formulario {
  width: 1200px;
  height: 300px;
  text-align: center;
  margin: auto;
  background-color: #f8f9fa;
}
.contenedor_label {
  padding: 15px;
  border: 2px solid red;
  width: 100px;
  display: inline-block;
  text-align: left;
  vertical-align: top;
  font-size: 18px;
  font-weight: bold;
  color: #12182d;
}
.contenedor_input {
  padding: 15px;
  border: 2px solid green;
  width: 1000px;
  display: inline-block;
  vertical-align: top;
}
.contenedor_input input {
  width: 27%;
  box-sizing: border-box;
  padding: 15px;
  border: 1px solid #ccc;
  margin-bottom: 4px;
  margin-right: 15px;
  font-weight: bold;
}
.contenedor_input select {
  width: 27%;
  margin-right: 15px;
  box-sizing: border-box;
  padding: 15px;
  border: 1px solid #ccc;
  margin-bottom: 8px;
  font-weight: bold;
  color: #333;
}
.contenedor_input button {
  background-color: #ff6000;
  font-weight: bold;
  color: white;
  text-align: center;
  border-radius: 5px;
  padding: 15px;
  width: 12%;
  cursor: pointer;
  border: 1px solid #ff6000;
}
.contenedor_info h2 {
  font-weight: bold;
  font-size: 30px;
  line-height: 1.5;
}
.contenedor_our {
  width: 1200px;
  text-align: center;
  margin: auto;
  border: 2px red solid;
}
.naranja {
  font-weight: bold;
  color: #ff6000;
}
.titulosecundario {
  font-weight: bold;
  font-size: 26px;
  color: #12182d;
  line-height: 27px;
}
.contenedor_tarjeta {
  width: 340px;
  border: 2px #f8f9fa solid;
  vertical-align: top;
  display: inline-block;
  margin: 0 10px;
}
.contenedor_tarjeta img {
  width: 100%;
}
.icono_servicio {
  width: 50px; /* tamaño pequeño deseado */
  text-align: left;
}
.contenido_servicio {
  text-align: left;
  margin-left: 20px;
}
.contenido_servicio h3 {
  color: #12182d;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}
.contenido_servicio a {
  color: #1e284b;
  text-decoration: none;
  font-size: 16px;
  border-bottom: 2px solid #ff6000;
  padding-bottom: 4px;
}
.contenedor_marquee {
  width: 1200px;
  margin: auto;
  text-align: center;
  background-color: #3d70f4;
  height: 305px;
}
.caja1 {
  display: grid;
  place-items: center; /* centra horizontal y vertical */
  padding: 20px;
}
.caja1 img {
  display: inline-block;
  margin-right: 20px;
  height: auto;
}
.contenedor_about {
  border: 2px red solid;
  width: 1200px;
  text-align: center;
  margin: auto;
}
.about_texto {
  width: 550px;
  vertical-align: middle;
  display: inline-block;
  text-align: left;
  margin-right: 20px;
}
.parrafo1 {
  color: #333;
  font-weight: bold;
}
.about_icono {
  display: flex;
  gap: 20px;
}
.icono {
  display: flex;
  align-items: center;
}
.icono img {
  width: 50px;
  height: auto;
  margin-right: 10px;
}
.parrafo2 {
  font-size: 20px;
  color: #3d70f4;
  font-weight: bold;
}
.parrafo3 {
  font-size: 16px;
  font-weight: bold;
}
.about_video {
  width: 540px;
  display: inline-block;
  vertical-align: middle;
}
.video {
  width: 100%;
  height: 340px;
  border-radius: 10px;
}
.contenedor_precios {
  border: 2px red solid;
  width: 1200px;
  text-align: center;
  margin: auto;
}
.contenedor_titulo {
  text-align: left;
  margin-left: 40px;
}
.tabla {
  width: 1100px;
  margin: auto;
  border: 2px #333 solid;
  text-align: center;
  border-spacing: 5px;
}
.tabla th {
  background-color: #ff6000;
  padding: 10px;
  font-size: 20px;
  border: 2px #333 solid;
}
.tabla td {
  border: 2px #333 solid;
  font-size: 20px;
  padding: 10px;
  font-weight: bold;
}
.fondogris {
  background-color: #ececec;
}
.contenedor_final {
  width: 1200px;
  text-align: center;
  margin: auto;
  background-color: #1e284b;
  height: 300px;
}

.contenedor_wahhab {
  width: 900px;
  text-align: left;
  vertical-align: top;
  display: inline-block;
  border: 2px white solid;
  margin-left: 20px;
}
.titulosecundario2 {
  color: white;
  font-weight: bold;
  margin-bottom: 10px;
}
.parrafo4 {
  color: white;
}
.contenedor_redes {
  width: 200px;
  text-align: left;
  vertical-align: top;
  display: inline-block;
  border: 2px white solid;
}
hr {
  width: 50px; /* ancho de la línea */
  height: 2px; /* grosor de la línea */
  background-color: #ff6000; /* color naranja */
  border: none;
}

.icono_redes img {
  width: 40px; /* tamaño pequeño deseado */
  height: auto; /* para mantener proporción */
}

.contenedor_nombre {
  width: 1200px;
  text-align: center;
  margin: auto;
  background-color: #12182d;
}

.contenedor_nombre p {
  color: white;
  font-weight: bold;
  padding-bottom: 10px;
}
